@media all and (max-width: 1245px){
    .cus-manage-form-inside {
        width: 70%;
    }

    #search-cus{
        width: 255px;
    }
    .item-manage-form-inside{
        width: 70%;
    }
    #search-item{
        width: 250px;
    }
}

@media all and (max-width: 1100px){
    #search-cus{
        width: 220px;
    }

    #search-item{
        width: 220px;
    }
}

@media all and (max-width: 850px){
    #search-cus{
        width: 150px;
    }
}

@media all and (max-width: 600px){
    .dash-upper{
        width: 90%;
    }
}